// @font-face {
//   font-family: "Heebo-Black";
//   src: url('./assets/fonts/Heebo-Black.ttf') format('truetype');
//   font-display: auto;
// }

@font-face {
  font-family: "Heebo-Bold";
  src: url($ASSETS_ROOT + '/fonts/Heebo-Bold.ttf') format('truetype');
  // src: url('https://drive.google.com/uc?id=1OnL5CYjPhShSE3lzdlJqDpUh9hGQiDh1') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Heebo-ExtraBold";
  src: url($ASSETS_ROOT + '/fonts/Heebo-ExtraBold.ttf') format('truetype');
  // src: url('https://drive.google.com/uc?id=1kXUSMbsbHHl-YnsOpzNQig3mtBNO_lVz') format('truetype');
  font-display: swap;
}

// @font-face {
//   font-family: "Heebo-Light";
//   src: url('./assets/fonts/Heebo-Light.ttf') format('truetype');
//   font-display: auto;
// }
//
// @font-face {
//   font-family: "Heebo-Medium";
//   src: url('./assets/fonts/Heebo-Medium.ttf') format('truetype');
//   font-display: auto;
// }
//
// @font-face {
//   font-family: "Heebo-Regular";
//   src: url('./assets/fonts/Heebo-Regular.ttf') format('truetype');
//   font-display: auto;
// }
//
// @font-face {
//   font-family: "Heebo-Thin";
//   src: url('./assets/fonts/Heebo-Thin.ttf') format('truetype');
//   font-display: auto;
// }

// SourceHanSans
@font-face {
  font-family: "SourceHanSans-Medium";
  src: url($ASSETS_ROOT + '/fonts/SourceHanSans-Medium.otf') format('opentype');
  // src: url('https://drive.google.com/uc?id=1RGDCYyqkV1RDUWe8EehnfNnMo1LWyoKX') format('opentype');
  font-display: swap;
  // font-display: auto;
}
