@import "./_util.scss";
@import "./_colors.scss";
@import "./_fonts.scss";

@import "../components/atoms/gFooter.scss";
@import "../components/atoms/gHeader.scss";
@import "../components/atoms/nav.scss";
@import "../components/atoms/workCard.scss";

html, body {
  margin: 0;
}

* {
  font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;

  > img {
    border: 0px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

input,
select {
  outline: none;
}

img {
  width: 100%;
  display: block;
}

html, body, div, a, span, input, header, footer, nav, ul, li, img, article, section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.ie {
  .content {
    &__bg {
      display: none;
    }
  }
}

.content {
  margin-bottom: 150px;

  @include mq('sp') {
    margin-bottom: 100px;
  }

  &--head {
    position: relative;
    padding-top: 157px;
    margin-bottom: 100px;

    @include mq('sp') {
      // padding-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__inner {
    width: 100%;
    max-width: $contentInner;
    // width: $contentInner;
    padding: 0 20px;
    margin: 0 auto;

    @include mq('sp') {
      // width: 100%;
      // max-width: $contentInner;
      // padding: 0 50px;
      padding: 0 5%;
    }
  }

  h2 {
    text-align: center;
    font-family: "Heebo-Bold";
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 50px;
    color: colors(black);
    margin-bottom: 30px;
  }

  h3 {
    font-size: 30px;
    font-family: "SourceHanSans-Medium";
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 60px;
  }

  p {
    font-size: 14px;
    color: #626262;
    line-height: 30px;
    text-align: center;

    @include mq('sp') {
      text-align: left;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    mask-image: url($IMAGE_ROOT + '/bg_dot_header.png');
    // mask-size: contain;
    mask-size: auto;
    mask-position: right top;
    mask-repeat: no-repeat;
    background-image: linear-gradient(to right, #fec6f0 3%, #f5f4d4 22%, #aeeae5 45%, #c4ddff 64%, #a99aff 85%, #fec6f0);
    background-repeat: repeat-x;
    opacity: 1;
    z-index: -1;

    @include mq('sp') {
      -webkit-mask-position-x: 80%;
      // mask-size: 200%;
    }
  } // bg

  &__nav {
    width: 100%;
    height: 100px;
    background-color: #292e39;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > nav {
      max-width: $contentInner;
      margin: 0 auto;
      flex-grow: 1;
      padding: 0 20px;

      @include mq('sp') {
        // padding: 0 50px;
        padding: 0 5%;
      }

      > ol {
        display: flex;
        padding: 0;
        list-style: none;

        li,
        a {
          color: #fff;
        }


        li {
          &::after {
            content: "";
            width: 12px;
            height: 12px;
            background-image: url($IMAGE_ROOT + '/icons/chevron-right.svg');
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            margin: 0 16px 0 24px;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  } // nav

  &__header {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--bg {
      height: 500px;

      .content__header__title {
        background-color: #fff;
      }

      @include mq('sp') {
        height: 400px;
      }
    }

    &--company {
      background-image: url($IMAGE_ROOT + '/company_main.png');

      @include mq('sp') {
        background-image: url($IMAGE_ROOT + '/company_main_sp.png');
      }
    }

    &--services {
      background-image: url($IMAGE_ROOT + '/services_main.png');

      @include mq('sp') {
        background-image: url($IMAGE_ROOT + '/services_main_sp.png');
      }
    }

    &__title {
      width: 700px;
      height: 300px;
      display: flex;
      align-items: center;

      @include mq('sp') {
        width: 100%;
        max-width: 375px;
        height: 200px;
      }

      > h2 {
        margin-left: 10%;
        margin-bottom: 0;
        font-size: 60px;

        @include mq('sp') {
          font-size: 50px;
          margin-left: 5%;
        }
      }
    }
  } // header
}

.btn {
  position: relative;
  display: block;
  width: 100%;
  height: 75px;
  min-width: 400px;
  max-width: 500px;
  line-height: 75px;
  background-color: #040a17;
  // color: #fff;
  // font-size: 16px;
  // font-family: "SourceHanSans-Medium";
  text-align: center;

  @include mq('sp') {
    min-width: 300px;
  }

  @include mq('pc') {
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      background-color: #38567F;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: transform .3s;
    }

    &:hover {
      &::before {
        transform-origin: left top;
        transform: scale(1, 1);
      }
    }
  }

  span {
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: "SourceHanSans-Medium";
    z-index: 2;

    @include mq('pc') {
      // display: block;
      // overflow: hidden;
      // background: linear-gradient(to right, #38567F, #38567F 50%, #fff 50%);
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // background-size: 200% 100%;
      // background-position: 100%;
      // transition: background-position 0.6s ease;
      // text-decoration: none;
      //
      // &:hover {
      //   background-position: 0 100%;
      // }
    }
  }

  &--icon {
    &::after {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      background-size: contain;
      background-repeat: no-repeat;
      top: 50%;
      right: 24px;
      margin-top: -6px;
      z-index: 2;
    }
  }

  &--arrow {
    &::after {
      background-image: url($IMAGE_ROOT + '/icons/chevron-right.svg');
    }
  }

  &--plus {
    &::after {
      background-image: url($IMAGE_ROOT + '/icons/plus.svg');
    }
  }
}

.pTop {
  position: fixed;
  bottom: -750px;
  right: 0;
  width: 75px;
  height: 75px;
  background-color: colors(black);
  z-index: 98;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url($IMAGE_ROOT + '/icons/chevron-top.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6px;
  }
}

.feedInTop {
  @include mq('pc') {
    position: relative;
    top: 60px;
    opacity: 0;
  }
}

.feedInLeft {
  @include mq('pc') {
    position: relative;
    left: -100px;
    opacity: 0;
  }
}

.feedIn {
  @include mq('pc') {
    opacity: 0;
    display: none;
  }
}
