@import "sass/common.scss";

#company {
  h3 {
    font-size: 30px;
    font-family: "SourceHanSans-Medium";
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 60px;
  }

  .profile {
    &__desc {
      &__address {
        > p {
          font-size: 16px;

          > a {
            color: colors(black);
            text-decoration: underline;
          }

          &:last-child {
            color: #38567f;
          }
        }
      }
      > dl {
        width: 100%;
        border: 2px solid #eeefef;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        border-bottom: none;

        > dt,
        > dd {
          min-height: 60px;
          font-size: 16px;
          line-height: 30px;
          color: #040a17;
          border-bottom: 2px solid #eeefef;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          margin: 0;
          padding: 16px 0 16px 40px;

          @include mq('sp') {
            padding: 8px 16px;
          }
        }

        > dt {
          width: 20%;
          font-family: "SourceHanSans-Medium";
          background-color: #f7f8f8;
          border-right: 2px solid #eeefef;

          @include mq('sp') {
            width: 30%;
          }
        }

        > dd {
          width: 80%;
          font-size: 14px;
          color: #040a17;

          @include mq('sp') {
            width: 70%;
          }

          > p {
            text-align: left;
            color: #040a17;
          }

          > a {
            display: block;
            font-size: 16px;
            color: #38567f;
          }

          ul {
            li {
              span {
                width: 120px;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  } // profile

  .access {
    h3 {
      max-width: $contentInner;
      margin: 0 auto 60px;
      padding: 0 20px;

      @include mq('sp') {
        padding: 0 5%;
      }
    }

    &__content {
      position: relative;
      width: 100%;
      height: 478px;

      @include mq('sp') {
        height: 678px;
      }

      &__desc {
        position: relative;
        z-index: 1;
        top: 100px;
        width: 700px;
        height: 278px;
        background-color: #f7f8f8;
        padding: 60px 10% 0;

        @include mq('sp') {
          padding: 60px 5% 0;
        }

        > dl {
          dt {
            margin-bottom: 40px;
          }
          dd {
            font-size: 14px;
            line-height: 30px;
          }
        }

        @include mq('sp') {
          top: 0px;
          width: 100%;
          height: 618px;
        }

        &__logo {
          width: 155px;
          height: 42px;
        }
      }

      &__map {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        width: 800px;
        height: 478px;

        @include mq('sp') {
          z-index: 2;
          bottom: 0px;
          top: auto;
          width: 100%;
          max-width: 700px;
          height: 400px;
        }

        iframe {
          width: 800px;
          height: 478px;

          @include mq('sp') {
            width: 100%;
            max-width: 700px;
            height: 400px;
          }
        }
      }
    }
  } // access

  .message {
    &__desc {
      p {
        text-align: left;
      }

      &__footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 60px;

        > img {
          width: 180px;
          height: 54px;
        }

        > span {
          color: #040a17;
          font-size: 16px;
          font-family: "SourceHanSans-Medium";
          margin-right: 40px;
        }
      }
    }
  } // message

  .officers {
    .officerCard {
      display: flex;
      margin-bottom: 100px;

      @include mq('sp') {
        flex-direction: column;
        align-items: center;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &__img {
        width: 240px;
        height: 320px;
        flex: none;

        @include mq('pc') {
          margin-right: 80px;
        }

        @include mq('sp') {
          margin-bottom: 30px;
        }

        > img {
          width: 100%;
          display: block;
        }
      }
      &__desc {
        width: 100%;

        > h4 {
          display: flex;
          flex-direction: column;
          font-family: "SourceHanSans-Medium";
          font-size: 20px;
          line-height: 36px;
          color: #040a17;
          margin-bottom: 30px;

          > span {
            font-size: 16px;
            line-height: 30px;
          }
        }

        > p {
          text-align: left;
        }
      }
    }
  } // officers

  .history {
    .historyList {
      &__item {
        width: 100%;
        height: 120px;
        display: flex;

        @include mq('sp') {
          height: 180px;
        }

        &:last-child {
          height: 120px;
        }

        &__desc {
          padding-top: 46px;
          p {
            padding-left: 100px;
            font-size: 14px;
            text-align: left;
            color: #040a17;

            @include mq('sp') {
              padding-left: 20px;
            }
          }
        }

        > span {
          display: block;
          position: relative;
          border-right: 2px solid #040a17;
          padding-right: 100px;
          padding-top: 50px;
          font-family: "Heebo-Medium";
          font-size: 27px;
          line-height: 24px;
          color: #221815;

          @include mq('sp') {
            padding-right: 20px;
            font-size: 14px;
          }

          &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background-color: #040a17;
            right: -7px;
            top: 54px;
          }
        }
      }
    }
  } // history
}
