<%
const title = 'スマホアプリ開発・UIUXデザイン・Web制作｜株式会社ブリューアス(Brewus,Inc.)';
const gaPageTitle = 'index';
const isIntroAnime = true;
%>

<% include /src/components/_head %>
<main>
  <article>
    <% include /src/components/molecules/intro %>
    <% include /src/components/molecules/philosophy %>
    <% include /src/components/molecules/services %>
    <% include /src/components/molecules/work %>
    <% include /src/components/molecules/company %>
  </article>
</main>
<% include /src/components/_foot %>
