.gFooter {
  .contact {
    width: 100%;
    height: 635px;
    background-image: url($IMAGE_ROOT + '/contact_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 15.7%;
    margin-top: 75px;
    margin-bottom: 0;

    @include mq('sp') {
      // padding: 50px;
      height: 100%;
      background-image: url($IMAGE_ROOT + '/contact_bg_sp.png');
      margin-top: 0;
      padding: 50px 5%;
    }

    &__desc {
      p {
        color: #040a17;

        @include mq('sp') {
          text-align: center;
        }
      }
    }

    &__info {
      width: 100%;
      height: 300px;
      background-color: colors(white);
      padding: 60px;
      margin: 60px auto 0;

      @include mq('pc') {
        // max-width: $contentInner;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      @include mq('sp') {
        width: 100%;
        height: 100%;
        margin: 50px 0;
        padding: 50px 5%;
      }

      > dl {
        padding: 0 20px 0 0;

        @include mq('sp') {
        }

        > dt {
          line-height: 50px;
          font-family: "SourceHanSans-Medium";
          font-size: 30px;
          color: #040a17;

          @include mq('sp') {
            text-align: center;
          }
        }

        > dd {
          color: #040a17;
          font-size: 14px;
          line-height: 30px;
          letter-spacing: 0.32px;
          margin-bottom: 20px;

          &:first-of-type {
            line-height: 36px;
            letter-spacing: normal;
            font-family: "SourceHanSans-Medium";
            font-size: 20px;
            font-weight: 500;
          }

          > a {
            text-decoration: underline;
            color: #040a17;
          }

          @include mq('sp') {
            text-align: center;
          }
        }
      }

      &__link {
        width: 100%;
        max-width: 400px;

        @include mq('sp') {
          margin: 0 auto;
        }

        a {
          width: 100%;
          margin-bottom: 20px;
          min-width: unset;
          max-width: unset;

          &:last-child {
            margin-bottom: 0;
          }

          @include mq('sp') {
            // width: 83%;
            margin: 20px auto 0;
          }
        }
      }
    }
  }

  &__info {
    width: 100%;
    height: 190px;
    background-color: #040a17;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 80px;
      flex: none;
    }

    // nav
    &__nav {
      .nav {
        flex-wrap: wrap;
        padding-left: 16px;
        justify-content: flex-end;

        a {
          span {
            color: colors(white);
          }

          @include mq('pc') {
            &:not(.btn) {
              span {
                &::before {
                  background-color: colors(white);
                }

                &:hover {
                  color: colors(white)
                }
              }
            }
          }
        }
      }

      address {
        text-align: right;
        color: colors(white);
        font-size: 14px;
        font-style: initial;
        letter-spacing: 0.28px;
        line-height: 36px;
      }
    }
  }
}

// PC
@include mq('pc') {
  .gFooter {
    &__info {
      padding: 0 75px 0 10%;

      &__nav {
        .nav {
          &__item {
            width: auto;
            max-width: 160px;
            a {
              width: 100%;
              max-width: 160px;
              padding: 0 16px;
            }
          }
        }
      }
    }
  }
}

// SP
@include mq('sp') {
  .gFooter {
    &__info {
      // padding: 0 25px;
      padding: 0 5%;
      height: 632px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        padding-top: 90px;

        .nav {
          display: block;
          padding-left: 0;

          a {
            width: 100%;
            height: 14px;
            line-height: 14px;
            max-width: 140px;
            min-width: 80px;
            padding: 0 8px;
            display: block;

            span {
              width: 100%;
              height: 14px;
              line-height: 14px;
              font-size: 16px;
            }
          }

          .nav__item {
            margin-top: 60px;
            
            &:first-child {
              margin-top: 0;
            }
          }
        }

        address {
          text-align: center;
          margin-top: 55px;
        }
      }

      &__logo {
        margin-top: 100px;
        width: 80px;
        display: block;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
}
