<header class="gHeader">
  <h1>
    <a href="<%= ROOT + '/' %>">
      <img src="<%= IMAGE_ROOT %>/logo.png" srcset="<%= IMAGE_ROOT %>/logo.png 1x, <%= IMAGE_ROOT %>/logo@2x.png 2x" alt="スマホアプリ開発・UIUXデザイン・Web制作｜株式会社ブリューアス(Brewus,Inc.)">
    </a>
  </h1>

  <nav class="gHeader__nav">
    <div class="gHeader__icon gHeader__icon--close"></div>
    <% include gHeaderNav %>
  </nav>

  <div class="gHeader__icon gHeader__icon--hamb"></div>
</header>
