<section class="company content">
  <div class="company__content feedInLeft" data-in-point="company" data-feedIn-classname="company__map">
    <h2>Company</h2>
    <p>Brewusの事業内容、所在地、役員紹介、沿革などを掲載しています。当社にお越しのお客様はこちらよりご確認ください。</p>

    <div class="company__content__more">
      <a href="<%= ROOT + '/company#access' %>">More</a>
    </div>
  </div>

  <div class="company__map feedIn">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.640739743127!2d139.7072024847885!3d35.66122204194848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b5f53ad4931%3A0xd6ce108ac646cc7e!2zTUZQUua4i-iwt-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1582860198918!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</section>
