<section class="intro">
  <div class="intro__logo"></div>
  <div class="intro__bg"></div>

  <div class="intro__title">
    <p class="intro__title__name1">MONOZUKURI</p>
    <p class="intro__title__name2">Platform</p>
    <p class="intro__title__name3">高い技術力とクリエイティビティに溢れたものづくり集団が</p>
    <p class="intro__title__name4">「あたりまえ」を超えるサービスを世界に発信し続けます</p>
  </div>
</section>
