<section class="philosophy content">
  <div class="philosophy__head"><a class="philosophy__head__scroll" data-target-id="philosophy">Scroll</a></div>
  <div class="philosophy__content">
    <div class="feedInTop" data-in-point="philosophy">
      <h2>Philosophy</h2>
      <div class="philosophy__content__block">
        <p>Brewにはお酒を「醸す」や雰囲気を「作る」などの意味があります。</p>
        <p>酵母や空気のように目に見えなかったり、液体のように手に取ることができない何かが混ざり合い、</p>
        <p>融合し、時に化学変化を起こしながら新しい「もの」が作られていくイメージです。</p>
      </div>
      <div class="philosophy__content__block">
        <p>我々の「ものづくり」も開発チームやクライアントやパートナー企業を含めた私たち (us) が</p>
        <p>共に協力しながら、それぞれの知識や経験、アイデアやノウハウと作り手の熱量などが融合することで、</p>
        <p>まだ世の中にない新しい「何か」を創り出して (brew) いく集団を目指しています。</p>
      </div>
    </div>
  </div>
  <div class="philosophy__foot"></div>
</section>
