<section class="services content">
  <div class="services__content feedInLeft" data-in-point="services" data-feedIn-classname="services__img">
    <h2>Services</h2>

    <p>スマートフォンアプリを中心に、SNS・動画配信・フィンテック・EC・エンタメなど、貴社の想像するあらゆる価値創造、サービス開発をサポートします。</p>

    <div class="services__content__more">
      <a href="<%= ROOT + '/services' %>">More</a>
    </div>
  </div>

  <div class="services__img feedIn"></div>
</section>
