.work {
  &__content {
    &__desc {
      max-width: $contentInner;
      margin: 0 auto;
      padding: 0 20px;

      @include mq('sp') {
        padding: 0 5%;
      }
    } // desc

    &__ex {
      margin-top: 100px;

      &__btn {
        width: 66%;
        margin: 100px auto 0;
      }
    } // ex
  }

  &.showAll {
    .work__content__ex__btn {
      &::after {
        background-image: url($IMAGE_ROOT + '/icons/close.svg');
      }
    }
  }
}
