<%
const works = [
  // {
  //   'title'          : 'ボイコネ - 声劇ライブ配信アプリ',
  //   'companyName'    : 'NTTソルマーレ株式会社様',
  //   'description'    : ['オンライン配信で声劇ライブが楽しめるサービスです。声劇、シチュエーションボイスのほかにも、ASMRや声マネ、歌ってみたなど、”声”に関するコンテンツが集まり、様々なシナリオで声劇が楽しめます。', '1:Nのリアルタイム配信や投げ銭システムを導入した次世代型の声劇ライブアプリとなっております。配信者が設定するアバターは独自のアバターシステムにより、自由度の高い服装や様々な表情を実現しています。'],
  //   'tech'           : ['Swift', 'Kotlin', 'React', 'PHP'],
  //   'isPlanning'     : false,
  //   'isDesign'       : true,
  //   'isRequirement'  : true,
  //   'isSpecification': true,
  //   'isIos'          : true,
  //   'isAndroid'      : true,
  //   'isWeb'          : true,
  //   'isOperation'    : true,
  //   'iosUrl'         : 'https://apps.apple.com/jp/app/%E3%83%9C%E3%82%A4%E3%82%B3%E3%83%8D-%E5%A3%B0%E5%8A%87%E3%83%A9%E3%82%A4%E3%83%96%E9%85%8D%E4%BF%A1%E3%82%A2%E3%83%97%E3%83%AA/id1511106412?mt=8',
  //   'androidUrl'     : 'https://play.google.com/store/apps/details?id=jp.boikone&hl=ja',
  //   'webUrl'         : 'https://boikone.jp/',
  //   'webUrlName'     : 'Official Page',
  //   'imageUrl'       : IMAGE_ROOT + '/works/gif/mintia_15s.gif',
  //   // 'imageUrl'       : 'https://drive.google.com/uc?id=1om6hwVDqqphWkQopYbLx-_Wgp0Knkt0v',
  //   'bgImageUrl'     : IMAGE_ROOT + '/works/bg/mintia_bg.png',
  // },
  {
    'title'          : 'JINS MEME RUN / TAIKAN',
    'companyName'    : '株式会社 ジンズ様',
    'description'    : ['株式会社ジンズから発売された世界初、自分を見るアイウエアをコンセプトに開発されたセンシング・アイウエアであるJINS MEMEの専用アプリケーションです。', 'JINS MEME RUNは、6軸センサーによって頭部の微細な動きの測定や、独自のアルゴリズムによる解析を行い、従来のウエアラブル端末では出来なかったランニングフォームの可視化を、JINS MEME TAIKANは従来見えづらかった体幹トレーニングの成果を客観的に評価し、「点数」として表示、高得点を目指しながら体幹トレーニングの成果や課題の可視化を実現しました。'],
    'tech'           : ['Java', 'Objective-c'],
    'isPlanning'     : false,
    'isDesign'       : true,
    'isRequirement'  : true,
    'isSpecification': true,
    'isIos'          : true,
    'isAndroid'      : true,
    'isWeb'          : false,
    'isOperation'    : true,
    'iosUrl'         : 'https://itunes.apple.com/jp/app/jins-meme-run-%E3%82%B8%E3%83%B3%E3%82%BA-%E3%83%9F%E3%83%BC%E3%83%A0-%E3%83%A9%E3%83%B3/id1040409212?mt=8',
    'androidUrl'     : 'https://play.google.com/store/apps/details?id=com.jins_jp.run&hl=ja',
    'webUrl'         : '',
    'webUrlName'     : '',
    'imageUrl'       : IMAGE_ROOT + '/works/gif/jins_15s.gif',
    // 'imageUrl'       : 'https://drive.google.com/uc?id=1om6hwVDqqphWkQopYbLx-_Wgp0Knkt0v',
    'bgImageUrl'     : IMAGE_ROOT + '/works/bg/jins_bg.png',
  },
  {
    'title'          : 'Chut！INTIMATES',
    'companyName'    : 'インティメイツ株式会社様',
    'description'    : ['ランジェリー/下着の販売を行うChut！の公式ECアプリです。アパレルウェブが提供するAPPAREL CLOUDと既存の基幹システムを連携し、よりお客様が使いやすいアプリにリニューアルしました。'],
    'tech'           : ['Swift', 'Kotlin'],
    'isPlanning'     : false,
    'isDesign'       : false,
    'isRequirement'  : true,
    'isSpecification': true,
    'isIos'          : true,
    'isAndroid'      : true,
    'isWeb'          : false,
    'isOperation'    : true,
    'iosUrl'         : 'https://apps.apple.com/jp/app/chut-intimates/id828393627?mt=8',
    'androidUrl'     : 'https://play.google.com/store/apps/details?id=com.chut_intimates.chutapp&hl=ja',
    'webUrl'         : '',
    'webUrlName'     : '',
    'imageUrl'       : IMAGE_ROOT + '/works/gif/chut_15s.gif',
    // 'imageUrl'       : 'https://drive.google.com/uc?id=1dV5Zj-l2D4mUG-nVqtxdqeARpYrvQNYy',
    'bgImageUrl'     : IMAGE_ROOT + '/works/bg/chut_bg.png',
  },
  {
    'title'          : 'セブン銀行 通帳アプリ',
    'companyName'    : '株式会社セブン銀行様',
    'description'    : ['スピーディに口座残高が確認でき、利用明細をわかりやすく表示します。', '日本語、英語、タガログ語、中国語、タイ語、ベトナム語、インドネシア語、 ポルトガル語、スペイン語の9言語に対応しています。'],
    'tech'           : ['Java', 'Swift'],
    'isPlanning'     : false,
    'isDesign'       : true,
    'isRequirement'  : true,
    'isSpecification': true,
    'isIos'          : true,
    'isAndroid'      : true,
    'isWeb'          : false,
    'isOperation'    : true,
    'iosUrl'         : 'https://itunes.apple.com/jp/app/%E3%82%BB%E3%83%96%E3%83%B3%E9%8A%80%E8%A1%8C-%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%E9%80%9A%E5%B8%B3/id1131180469?mt=8',
    'androidUrl'     : 'https://play.google.com/store/apps/details?id=jp.co.sevenbank.AppPassbook&hl=ja',
    'webUrl'         : '',
    'webUrlName'     : '',
    'imageUrl'       : IMAGE_ROOT + '/works/gif/seven_15s.gif',
    // 'imageUrl'       : 'https://drive.google.com/uc?id=1fYR53VVsY8reHy_8m2jhinc4Vtuz2rF0',
    'bgImageUrl'     : IMAGE_ROOT + '/works/bg/seven_bg.png',
  },
  {
    'title'          : 'いきものAZ',
    'companyName'    : '株式会社サンシャインエンタプライズ様',
    'description'    : ['サンシャイン水族館、神戸どうぶつ王国、しながわ水族館、越前松島水族館や那須どうぶつ王国等、各地の水族館や動物園が参加している、日本初の動物園・水族館×オムニチャネルの中心となるWebコミュニティです。', '開発の際にはSPA（Single Page Application）アーキテクチャの採用により、素早いレスポンスと快適なUIを追求しました。'],
    'tech'           : ['React', 'Node.js'],
    'isPlanning'     : false,
    'isDesign'       : true,
    'isRequirement'  : true,
    'isSpecification': true,
    'isIos'          : false,
    'isAndroid'      : false,
    'isWeb'          : true,
    'isOperation'    : true,
    'iosUrl'         : false,
    'androidUrl'     : false,
    'webUrl'         : 'https://ikimonoaz.ikimonopal.jp/',
    'webUrlName'     : 'Official Page',
    // 'imageUrl'       : IMAGE_ROOT + '/works/gif/ikimono_15s.gif',
    'imageUrl'       : 'https://drive.google.com/uc?id=1PoAmxxmtUubuN-JOEdx30ZLFecXNG8In',
    'bgImageUrl'     : IMAGE_ROOT + '/works/bg/ikimono_bg.png',
    'pcImageUrl'     : IMAGE_ROOT + '/works/bg/ikimono_pc.png',
  },
  {
    'title'          : '神の手',
    'companyName'    : '株式会社ブランジスタゲーム様',
    'description'    : ['株式会社ブランジスタゲームが運営するバーチャルとリアルを融合させた、いつでも、スマホで手軽にクレーンゲームができる世界初3Dスマホクレーンゲームです。スマホ用ゲームアプリです。', '景品の重さ、大きさや形状によって、アームがかかる場所や重心の違いなど、ゲームセンターなどに置いてある実機のクレーンゲームを3Dで忠実に再現。獲得した景品は、無料で自宅にお届けします。（2018年12月にサービス終了）'],
    'tech'           : ['Unity'],
    'isPlanning'     : false,
    'isDesign'       : true,
    'isRequirement'  : true,
    'isSpecification': true,
    'isIos'          : true,
    'isAndroid'      : true,
    'isWeb'          : true,
    'isOperation'    : true,
    'iosUrl'         : '',
    'androidUrl'     : '',
    'webUrl'         : '',
    'webUrlName'     : '',
    'imageUrl'       : IMAGE_ROOT + '/works/gif/kami_15s.gif',
    // 'imageUrl'       : 'https://drive.google.com/uc?id=1tvBuLepdeo497xl0ISzJgBdqf9sgMANF',
    'bgImageUrl'     : IMAGE_ROOT + '/works/bg/kami_bg.png',
  },
];
%>

<section class="work content">
  <div class="work__content">
    <div class="work__content__desc feedInTop" data-in-point="work">
      <h2>Work</h2>

      <p>企画・戦略設計・サービス設計・UI／UX設計・開発・品質管理・運用・改善支援まで、「全てのフェーズ」をワンストップで対応可能。</p>
      <p>アプリを中心に、Web・ARVR・IoTなど多様な技術力と、幅広い領域での開発経験を持つBrewusの開発実績をご覧ください。</p>
    </div>

    <div class="work__content__ex">
      <%
        for (var i = 0; i < works.length; i++) {

          const d = works[i];
          const classname = i % 2 == 0 ? 'workCard--l' : 'workCard--r';
      %>
        <% include ../atoms/workCard %>
      <% } %>

      <a class="btn btn--icon btn--plus work__content__ex__btn"><span>View More</span></a>
    </div>
  </div>
</section>
